/* You can add global styles to this file, and also import other style files */
body {
  padding: 0;
  margin: 0;
}

// overriding PRIMENG's widgets
.p-datatable-thead > tr > th {
  background-color: rgb(31, 30, 30) !important;
  color: white;
  border: 1px solid rgb(80, 77, 77);
}
.p-datatable-tbody > tr {
  background-color: rgb(51, 46, 46) !important;
  color: white;
  border: 1px solid rgb(80, 77, 77);
}
.p-button {
  background-color: rgb(41, 39, 39);
  border: 1px solid white;
}
.p-dynamicdialog,
.p-dialog-content,
.p-dialog-header,
.p-dialog-footer {
  background-color: rgb(43, 46, 46);
  color: white;
}
.p-inputtext,
.p-inputtext:focus {
  background: #cfc9c9;
  box-shadow: none;
  border-color: #cfc9c9;
}
